.DS_Store
.idea
.idea/
.vscode/
*.iml
.bash_history
.tern-project
venv
/.docker/
docker-compose.override.yml
/mocks/
.env.developer
.env
/vendor/**
coverage.txt
/api
/api_stubs
out
output
helm/platform-component/values.yaml
.taskfile/LocalTasks.yml
/coverage.out
/cache/testdata
/tmp
